/* Styles for Header component */

.header {
    background-color: darkgoldenrod;
    color: yellowgreen;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #0056b3;
    font-size: 24px;
    font-weight: bold;
}

